[Unit]
Description=Ngrok public URL service

[Service]
User=pi
WorkingDirectory=/home/pi/projects/reddit
ExecStart=ngrok http 7777
ExecStartPost=/home/pi/.poetry/bin/poetry run set-hook
Restart=always

[Install]
WantedBy=multi-user.target
