[Unit]
Description=FastAPI server

[Service]
User=pi
WorkingDirectory=/home/pi/projects/reddit
ExecStart=export $(grep -v '^#' .env | xargs) && newrelic-admin run-program /home/pi/.poetry/bin/poetry run fastapi
Restart=always

[Install]
WantedBy=multi-user.target
