[Unit]
Description=Reddit live thread to telegram

[Service]
User=pi
WorkingDirectory=/home/pi/projects/reddit
ExecStart=/home/pi/.poetry/bin/poetry run websocket
Restart=always

[Install]
WantedBy=multi-user.target
